<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.ISysLogMapper">
    <resultMap id="SysLogResult" type="com.ssm.domain.SysLog">
        <id property="id" column="id"/>
        <result property="visitTime" column="visitTime"/>
        <result property="username" column="username"/>
        <result property="ip" column="ip"/>
        <result property="url" column="url"/>
        <result property="executionTime" column="executionTime"/>
        <result property="method" column="method"/>
    </resultMap>

    <select id="findAll" resultMap="SysLogResult">
        SELECT
          *
        FROM
            sys_log
    </select>

    <select id="findById" parameterType="Integer" resultMap="SysLogResult">
        SELECT
          *
        FROM
            sys_log
        WHERE id = #{id}
    </select>

    <select id="save" parameterType="com.ssm.domain.SysLog">
        insert into sys_log (
            id,
            visitTime,
            username,
            ip,
            url,
            executionTime,
            method
        )
        values(
            #{id},
            #{visitTime},
            #{username},
            #{ip},
            #{url},
            #{executionTime},
            #{method}
        )
    </select>

</mapper>
